

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right,#5ceb57 0%,#28a824 100%);
    font-size: 10px;
}

body{
    display:grid;
    place-items: center;
    
}
#chat-container
{
    min-width: 800px;
    max-width: 1000px;
    display: grid;
    grid:   'search-container chat-title' 71px
            'conversation-list chat-message-list' 1fr
            'new-message-container chat-form' 78px
            / 275px 1fr;
    max-height: 800px;
    width: 100%;
    height: 95vh;
    background: #ffff;
    border-radius: 10px;

}

#search-container,
#conversation-list,
#new-message-container
{
background: #047001;
}

#conversation-list
{
    grid-area: conversation-list;
}
#search-container{
    display: grid;
    align-items: center;
    padding:0 20px;
    grid-area:search-container;
border-radius:10px 0 0 0;
box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.75);
z-index: 1;

}

#search-container input{
color:#eee;
outline:none;
font-weight: bold;
border-radius: 2px;
width:100%;
height: 30px;
border:0;
padding-left:40px;
padding-right: 10px;
font-size:1.4 rem;
background: url("../images/icons8-search.svg") no-repeat rgba(255, 255, 255,0.3);
background-position: 15px center;
background-size:15px 15px;
}
#search-container input::placeholder{
color:#ddd;
font-weight: bold;
}
#new-message-container a{
    
  background-color: #eee;
 
  border-radius: 100%;
  color:#047001;
  text-decoration: none;
  font-size: 3.6rem;
   
}

#new-message-container{
    display:grid;
    grid:40px/40px;
    align-content: center;
    text-align: center;
    align-items: center;
    grid-area:new-message-container;
    border-top:1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0 0 0 10px;
    padding: 0 20px;
}

.fa-trash-o {
    cursor: pointer;
    font-size: 4rem;
}
#chat-title,

#chat-title
{
    display: grid;
    grid:40px/1fr 36px;
    align-content: center;
    align-items:center;
    grid-area:chat-title;
    color:#047001;
    font-weight: bold;
    font-size: 2.8rem;
    border-radius: 0 10px 0 0;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.75);
    padding:20px;
}
#chat-message-list{
    grid-area: chat-message-list;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 20px;  
}
.message-row{
    margin-bottom: 20px;
}

#chat-form{
    display: grid;
    grid:51px/32px 1fr;
    align-content: center;
    align-items: center;
    grid-gap: 15px;
    grid-area: chat-form;
    border-radius: 0 0 10px 0;
    border-top:1px solid rgba(0, 0, 0, 0.25);
    padding-left:42px;
    padding-right: 22px;
    font-size: 2.8rem;
    color:#047001;
}
.fa-paperclip
{
    cursor: pointer;
     
}

#chat-form input{
    outline:none;
    padding:15px;
    border:2px solid #ddd;
    color:#320;
    border-radius: 6px;
    font-size: 1.4rem;
    margin-bottom: 2%;
}
.message-row{
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 20px;

}
.you-message{
    justify-content: end;
   justify-items: end;


}
.other-message{
    justify-content: start;
   
}

.message-text{
    padding: 9px 14px;
    font-size: 1.6rem;
    margin-bottom: 5px;

}
.message-time{
    font-size: 1.3rem;
    color: #777;

}
.you-message .message-text{
    background: #0048aa;
    color: #eee;
    border: 1px solid #0048aa;
    border-radius: 14px 14px  0 14px ;
}

.other-message .message-text{
    background: #eee;
    color: #111;
    border: 1px solid #0048aa;
    border-radius: 14px 14px 14px 0 ;
}










